<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>
  </head>
  <body class="container">
    <header>
      <% include ./partials/header %>
    </header>
    <main>
      <div class="jumbotron">
        <h1><%= adventure.name %></h1>
        <img src="/img/philly.png" alt="Philadelphia Adventure">
        <div class "adv_nav">
          <% if (index == 0) { %>
            <a class "adv_nav_full" href='/adventure/<%= adventure._id %>/<%= (parseInt(index) + 1) %>'>Next</a>
          <% } else { %>
            <a class "adv_nav_left" href='/adventure/<%= adventure._id %>/<%= (parseInt(index) - 1) %>'>Previous</a>
            <a class "adv_nav_right" href='/adventure/<%= adventure._id %>/<%= (parseInt(index) + 1) %>'>Next</a>
          <% } %>
        </div>
      </div>
    </main>
    <div id="background">
      <div id="fuzz"></div>
    </div>
  </body>
</html>
